
.logo{
    font-family: 'Mostin', sans-serif;
    
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
}
.heading img{
    width:40px ;
    height:40px;
}
.heading h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #00B0FF;
}

.heading{
    position: absolute;
    margin-left: 2%;
    transform: translateY(-56px);
}

.header{
    position: relative;
    background-color: #757575;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
    height: auto;
    width: auto;
}

.inner{
    
    width: auto;
    height: auto;
    border-top: 4.15rem  solid #111111;
   
    border-right: 54rem solid transparent;
}
.container{
    width: 35%;
    height: auto;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to right, #212121 , #424242);
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 0.95;
    padding-bottom: 1.5%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 90%;
        margin-top: 10%
    }
}


.body{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #424242;
    
    width: 40%;
    height: auto;
    margin-bottom: 8%;
    

}

body{
    background-image: linear-gradient(to right, #880E4F, #FF1744);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%; 
    padding-left: 2%;
    padding-right: 5%;

}

.holder{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    flex-basis:100%;
    width: 100%;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color:rgb(255, 255, 255) ;

}
.user input{
    width: 250px;
    height: 15px;
}
.signin{
    font-family: 'Mostin', sans-serif;
    font-weight: 200;     
    font-size: 15px;                                                                              
    color :beige;
    justify-content: center;
    letter-spacing: 5px;
}

.noacnt{
    text-align: center;
    font-family: 'Mostin', sans-serif;
    font-weight: 200;     
    font-size: 15px;
    letter-spacing: 5px;                                                                             
    color :beige;
}

.signinhead{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Mostin', sans-serif;
    font-weight: 400;
    letter-spacing: 6px;
    color :beige;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn{
    font-family: 'Mostin', sans-serif;
    letter-spacing:4px;
    width: 100px;
    padding: 8px;
    background-color: #FF1744;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 9px rgba(177, 177, 177, 0.2);
    margin: 18px;
}
